exclude compile.py
exclude .drone.yml
recursive-include scripts/ *.py
recursive-exclude dessia_common/ *protected.py
global-exclude *_protected.pyx
prune .git
recursive-include dessia_common/models/ *.csv *.py 
recursive-include dessia_common/templates/ *.html


